
.contactView__container {
    display: flex;
    flex-flow: column;
    background-image: url('../../components/assets/213679025_1118421601900977_960647103238963851_n.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 100vh;

}
.contactView__container--navbar {
    margin-right: 50px;
}
.contactView__container--wrapper {
    width: 600px;
    height: auto;
    margin-left: 100px;
}
.contactView__container__wrapper--header {
    font-size: 30px;
    text-align: center;
    background-color: black;
    color: white;
border-radius: 10%;
height: auto;
}
.contactView__container__wrapper--contactsWrapper {
display: flex;
flex-wrap: wrap;

}
.contactView__container__wrapper__contactsWrapper--contactElement {
width: 300px;
height: 300px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
}
.photoGalleryView__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.photoGalleryView__container--div {
    margin-top: 50px;
    display: flex;
    height: auto;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    
}
.photoGalleryView__container--div > img {
    width: 450px;
    height: 100%;
    padding: 30px;
}
.aboutMe__container--navbar {
    margin-right: 50px;
}
.contactView__navbar {
    margin-right: 50px;
}
.PhotoGalleryView__container--navbar {
    margin-right: 50px;
}