.photoContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 150px 150px;
    width: 100%;
}

.img__photo1{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 500px;
    height: 300px;
    
}
.img__photo2{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    width: 500px;
    height: auto;
}
.img__photo3{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 500px;
    height: 300px;
}
.img__photo4{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    width: 500px;
    height: auto;
}