.portraitPhoto {
    width: 500px;
    height: 100%;
    border: 2px solid black;
    border-radius: 100%;
    float: right;
    position: relative;
    top: -20px;
    right: -150px;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}