.portraitPhoto {
    width: 300px;
    height: auto;
    border: 2px solid black;
    border-radius: 1000px;
    float: right;
    position: relative;
    top: -50px;
    right: -50px;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}